[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=com.kurotkin.GiphyBeagle
Exec=/usr/bin/com.kurotkin.GiphyBeagle
Name=GiphyBeagle
Name[ru]=Поиск по картинкам

[X-Application]
Permissions=Internet;Pictures;WebView
OrganizationName=com.kurotkin
ApplicationName=GiphyBeagle
ExecDBus=/usr/bin/com.kurotkin.GiphyBeagle
